.header,a,p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 1000;

  a{
  text-decoration: none;
  color: inherit;
  }

    &__nav{
      display: flex;
      gap: 60px;
    }
    &__title{
      font-size: 27px;
    }
    
    &__link--active {
      text-decoration: underline !important;
    }

    // Tablette
    @media (max-width: 1024px) {
      padding: 0 20px;
      
      &__nav{
        gap: 40px;
      }
      
      &__title{
        font-size: 28px;
      }
    }

    // Mobile
    @media (max-width: 768px) {
      padding-bottom: 15px;
      flex-direction: column;
      gap: 10px;
      
      
      &__nav{
        gap: 30px;
         border-bottom: 2px solid white;
      }
      
      &__title{
        font-size: 45px; /* Plus gros en mobile */
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }
}