.header,a,p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 1000;

  a{
  text-decoration: none;
  color: inherit;
  }

    &__nav{
      display: flex;
      gap: 60px;
      align-items: center;
    }
    &__title{
      font-size: 27px;
    }
    
    &__link--active {
      text-decoration: underline !important;
    }

    // Tablette
    @media (max-width: 1024px) {
      padding: 0 20px;
      
      &__nav{
        gap: 40px;
      }
      
      &__title{
        font-size: 28px;
      }
    }

    // Mobile
    @media (max-width: 768px) {
      padding-top: 12px;
      padding-bottom: 0;
      flex-direction: column;
      gap: 10px;

      &__nav{
        gap: 20px;
        width: 100%;
        justify-content: center;
        padding-bottom: 14px;
        margin-bottom: 20px;
        border-bottom: 2px solid white;
      }

      &__title{
        font-size: 22px;
        font-weight: normal;
        margin: 0;
        padding: 0;
      }
    }
}