.projectView{
  text-align: center;
  background-color: var(--background-color, rgb(16,16,16));
  color : var(--color, rgb(207, 118, 1));
  max-width: 800px;
 
    &__content{
      display: flex;
      margin-top: 20px;
    }
    &__informations{
      flex :1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    p{
      margin: 0;
      padding: 0;
    }
    &__description{
      padding-top: 50px;
      flex:1;
      display: flex;
      justify-content: flex-end;
      text-align:justify
    }
    &__explore {
      margin:0 100px;
    }
    button{
      border-style:none;
      cursor : pointer;
    }
    img{
      width: 100%;
      height: 50vh;
    }
}
