.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--background-color, rgb(16, 16, 16));
  
  &__close {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  &__track {
    display: flex;
    height: 100%;
  }
  
  &__slide {
    min-width: 60vw;
    max-width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    
    &--active {
      opacity: 1;
      cursor: default;
    }
  }
}