* {
  margin :0;
  background-color: var(--background-color, rgb(16, 16, 16));
}

#root {
  color: antiquewhite;
}

body[data-theme="Sophie"] {
  --background-color: rgb(182, 100, 28);

}

body[data-theme="Nina"] {
  --background-color: rgb(10, 233, 58);

}