* {
  font-family: "Bebas Neue";
  font-size: 20px;
  background-color: var(--background-color, rgb(16, 16, 16));
  color: var(--color, rgb(235, 231, 225));
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  color: antiquewhite;
}

body[data-theme="Sophie"] {
  --background-color: rgb(240, 236, 230);
  --color: rgb(207, 118, 1);
}

body[data-theme="Kasa"] {
  --background-color: rgb(54, 53, 54);
  --color: rgb(211, 68, 92);
}

body[data-theme="Nina"] {
  --background-color: #F6D2B8;
  --color: rgb(0, 0, 0);
}

body[data-theme="Booki"] {
  --background-color: #0065FC;
  --color: #F2F2F2;
}

body[data-theme="MVG"] {
  --background-color: #D9A963;
  --color: #f6efe4;
}