* {
  background-color: var(--background-color, rgb(16, 16, 16));
  color: var(--color, rgb(235, 231, 225));
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  color: antiquewhite;
}

body[data-theme="Sophie"] {
  --background-color: rgb(239, 245, 228);
  --color: rgb(207, 118, 1);
}

body[data-theme="Nina"] {
  --background-color: rgb(10, 233, 58);

}